.slider-img-about {
    background: url(../images/about.jpg) no-repeat center center ;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 100px 0;
    .container {
        background-color: #fff;
        padding: 40px;
        .our-about {
            .about-home-text {
                
                h2{
                    color: $secondColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    margin-top: 30px;
                }
                p {
                    color: #999;
                    line-height: 2;
                    width: 90%;
                    padding-left: 10px;
                    &::before , &::after {
                        content: none;
                    }
                }
                .choose-btn {
                    background-color: #f7a631;
                    display: inline-block;
                    width: auto;
                    margin: 0;
                }
                .choose-btn:hover {
                    border: 2px solid #f7a631;
                    color: #f7a631;
                    background-color: transparent;
                }
                img {
                    width: 100%;
                    position: relative;
                    top: -100px;
                }
            }
        }
    }
    @media (max-width: 992px) {
        .about-home-text  {
            top: 100px;
        }
    }
    @media (max-width: 768px) {
        .about-home-text  {
            top: 20px;
        }
    }
    @media (max-width: 576px) { 
        .about-home-text  {
            top: 0;
        }
    }
}