.main-slider {
    .container {
        position: relative;
        top: 70px;
        color: #fff;
        .image {
            padding: 70px;
            text-align: center;
            img {
                width: 300px;
            }
        }
        .carousel-inner {
            top: 80px;
            overflow: hidden;
            .content {
                /*direction: rtl;*/
                text-align: left;
                position: relative;
                top: 0;
                z-index: 2;
                border-left: 2px solid $mainColor;
                padding-left: 20px;
                margin-left: 40px;
                h1 {
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
                p {
                    width: 400px;
                    color: #c1edca;
                    word-wrap: break-word;
                }
                a {
                    border: 2px solid $mainColor;
                    background-color: transparent;
                    padding: 2px 10px;
                    text-decoration: none;
                    color:  $mainColor;
                    display: block;
                    width: 85px;
                    margin-right: 260px; 
                    transition: all .7s ease-in-out;
                    text-align: center;
                    &:hover {
                        background-color: $mainColor;
                        color: #fff;
                    }
                } 
            } 
        }
        .carousel-indicators {
            bottom: -125px;
            z-index: 100;
            li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $mainColor;
            }
        }
        
        
        
        @media (max-width: 992px) { 
            top: 40px; 
            .image {
                padding: 40px;
                img {
                    width: 190px;
                }
            }
            .carousel-inner {
                background-color: transparent;
                padding: 10px;
            }  
            .carousel-indicators {
                bottom: -125px;
                z-index: 100;
                overflow: hidden;
                
                background-color: transparent;
                li {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $mainColor;
                }
            }
        }
        @media (max-width: 576px) { 
            .carousel-inner {
                background-color: rgba($secondColor,1);
                padding: 10px;
            }
        }
        @media (max-width: 768px) {
            .carousel-inner {
                background-color: rgba($secondColor,1);
                padding: 10px;
            }    
        }
    }
}

/*End Slider*/
/*Start About-home*/
.about-home {
    padding: 50px 0;
    position: relative;
    margin-top: 100px;
    h2{
        color: $secondColor;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    p {
        color: #999;
        line-height: 2;
        width: 90%;
        padding-left: 10px;
        &::before , &::after {
            content: none;
        }
    }
    .choose-btn {
        background-color: #f7a631;
        display: inline-block;
        width: auto;
        margin: 0;
    }
    .choose-btn:hover {
        border: 2px solid #f7a631;
        color: #f7a631;
        background-color: transparent;
    }
    img {
        width: 100%;
        position: relative;
        top: -100px;
    }
    @media (max-width: 576px) { 
        
    }
    @media (max-width: 768px) {
        .about-home-text {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}
/*End About-home*/

/*Start BackGround*/
.backGround {
    background: url(../images/bg.png) no-repeat center center;
    background-size: cover;
}
/*End BackGround*/
/*Start Services*/
.services {
    padding: 80px 0;
    
    .card-body {
        width: 100%;
        height: 250px;
        perspective: 1000px;
        position: relative;
        margin-bottom: 25px;
        &::before {
            content: "";
            position: absolute;
            top: 13%;
            left: 2%;
            background-color: #9b7575;
            width: 95%;
            height: 86%;
            border-radius: 5px;
        }
       .flip-Card {
            width: 90%;
            height: 250px;
            position: relative;
            margin: auto;
            transform-style: preserve-3d;
            border-radius: 10px;
            transition: all 1s ease-in-out;
            
            div {
                position: absolute;
                width: 105%;
                height: 95%;
                top: 2.5%;
                left: -2.5%;
                background-color: #fff;
                overflow: hidden;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #999;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.14);
            }
            .face {
                z-index: 2;
                padding: 20px;
                text-align: center;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
                transform: rotate(0);
                .image {
                    width: 200px;
                    height: 170px;
                    margin: auto;
                    img {
                        width: 100%;
                    }
                }
                h4 {
                    color: $secondColor;
                    text-transform: uppercase;
                    font-size: 22px;
                }
            }
            .back {
                z-index: 1;        
                -webkit-transform: rotateY(180deg) ;
                -moz-transform: rotateY(180deg) ;
                -ms-transform: rotateY(180deg) ;
                -o-transform: rotateY(180deg) ;
                transform: rotateY(180deg) ;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
                p {
                    color: #333;
                    line-height: 2rem;
                    font-size: 16px;
                }
            }
           &:hover {
                transform: rotateY(-180deg);
            }
        } 
    }
    .colm-card {
        &:nth-child(2) {
            .card-body:before {
                background-color: #01412d;
            }
        }
        &:nth-child(3) {
            .card-body:before {
                background-color: #a5a7a6;
            }
        }
        &:nth-child(4) {
            .card-body:before {
                background-color: #009384;
            }
        }
        &:nth-child(5) {
            .card-body:before {
                background-color: #f7a63b;
            }
        }
        &:last-of-type {
            .card-body:before {
                background-color: #0b5d8f;
            }
        }
    }
    @media (max-width: 992px) {
         h3 {
            font-size: 22px;
        }
    }
    
    @media (max-width: 768px) {
        h3 {
            font-size: 22px;
        }
    }
    @media (max-width: 576px) { 
        h3 {
            font-size: 30px;
        }
    }
}
/*End Services*/
/*Start Works*/
.works {
    padding: 50px 0;
    ul {
        li {
            text-align: center;
            height: 50px;
            width: 47%;
            margin-right: 1%;
            margin-left: 1%;
            margin-bottom: 2%;
            display: inline-block;
            line-height: 50px;
            background-color: #333;
            color: #fff;
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: rgba($mainColor,0.8 );
            }
        }
        .active {
            background-color: $mainColor;
        }
    }
    .veiw {
        background: url(../images/Apple-Macbook-Gold-500x294.png)no-repeat center center;
        background-size: cover;
        width: 600px;
        height: 350px;
        position: relative;
        .image {
            position: absolute;
            top: 24px;
            left: 75px;
            background-color: #999;
            width: 450px;
            height: 282px;
            overflow: hidden;
            transition: all 3s ease-in-out;
            img {
                width: 100%; 
                margin-top: 0;
                transition: all 3s ease-in-out;
                &:hover {
                    margin-top: -648px;
                }
            }
            
        }
    }
    @media (max-width: 992px) {
        .veiw {
            background: none;
            background-color: #999;
            border: 2px solid #666;
            border-radius: 10px;
            overflow: hidden;
            .image {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                
            }
        }
    }
    
    @media (max-width: 768px) {
        .veiw {
            background: none;
            background-color: #999;
            border: 2px solid #666;
            border-radius: 10px;
            overflow: hidden;
            .image {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                
            }
        }
    }
    @media (max-width: 576px) { 
        .veiw {
            background: none;
            background-color: #999;
            border: 2px solid #666;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 350px;
            .image {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                
            }
        }
    }
}
/*End Works*/




/*Start Integrations*/
.Integrations {
    padding: 80px 0;
    position: relative;
    z-index: 99;
    
    .icon {
        margin-bottom: 30px;
        width: 190px;
        .image {
            position: relative;
            img {
                display: block;
                margin: auto;
                height: 75px;
            }
            .one, .two {
                position: absolute;
                top: -10px;
                left: 50px;
                width: 50%;
                height: 120%;
                background-color:rgba($secondColor,0.05);
                border-radius: 52% 48% 52% 48% / 28% 32% 68% 72% ;
            }
            .two {
                transform: rotate(180deg);
            }
        }
        h3 {
            color: $mainColor;
            font-weight: 500;
            padding: 10px 0;
            margin-bottom: 0;
            font-size: 1.5rem;
        }
        h3~p {
            text-transform: uppercase;
            color: $secondColor;
            /*font-weight: bold;*/
            font-size: 18px;
            margin: 0;
            padding: 0;
        }
    }
    @media (max-width: 576px) { 
        .icon {
            margin: auto;
            margin-bottom: 20px;
        }
    }
}
/*End Integrations*/

/*Start Studies*/
.Studies {
    padding: 80px 0;
   
    p {
        
        &::after , &::before {
            content: none;
        }
    }
    .choose-btn {
        background-color: #f7a631;
        display: inline-block;
        width: auto;
        margin: 0 0 30px;
        padding: 5px 15px;
    }
    .choose-btn:hover {
        border: 2px solid #f7a631;
        color: #f7a631;
        background-color: transparent;
    }
    .card {
        border: 1px solid rgba(0,0,0,.2);
        transition: all .7s ease-in-out;
        margin-bottom: 30px;
        .card-body {
            padding: 0; 
            h5 {
                padding-top: 1.25rem; 
                padding-left: 1.25rem; 
                text-transform: uppercase;
                color: $secondColor;
            }
            .card-text {
                padding-left: 1.35rem;
                padding-right: 5px;
                line-height: 1.5rem;
                font-size: 16px;
            }
            .btn-primary {
                width: 100%;
                background-color: $secondColor;
                border: none;
                border-radius: 0 0 .25rem .25rem; 
            }
        }
        &:hover {
            box-shadow: 0 10px 35px 5px rgba(0,0,0,.2);
            transform: translateY(-8px)!important;
        }
    }
}
/*End Studies*/
/*Start PricesLists*/
.pricesLists {
    padding: 50px 0;
    
    .list-Price {
        background-color: #e5e7e7;
        position: relative;
        margin: 0 20px;
        border-radius: 4px;
        margin-bottom: 50px;
        transition: all .7s ease-in-out;
        h3 {
            background-color: #a6a6a6;
            width: 100%;
            height: 150px;
            color: #fff;
            padding-top: 30px;
            text-transform: uppercase;
            font-weight: 500;
        }
        .price {
            border-radius: 50%;
            background-color: #fff;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 1px 0px 8px rgba(255,255,255,0.5);
            p {
                line-height: 90px;
                font-size: 22px;
                font-weight: 500;
                color: #a6a6a6;
                margin: 0; 
            }
            span {
                display: block;
                position: relative;
                top: -30px;
                font-size: 10px;
                color: #a6a6a6;
                text-transform: uppercase;
            }
        }
        .item {
            margin-top: 80px;
            margin-bottom: 25px;
            padding: 0 10px;
            li {
                margin-bottom: 10px;
                font-size: 14px;
                &:first-of-type i {
                    color: #5284ff;
                }
                &:nth-child(2) i {
                    color: #5284ff;
                }
                &:nth-child(3) i {
                    color: #f83c7b;
                }
                &:last-of-type i {
                    color: #f83c7b;
                }
                i {
                    padding-right: 10px;
                }
                
            }
        }
        &:hover {
            box-shadow: 0 10px 35px 5px rgba(0,0,0,.2);
        }
        
    }
    .list-Price-item {
        
        &:nth-child(2) .list-Price{
            h3 {
                background-color: #f7a631;
            }
            .choose-btn {
                background-color: #f7a631;
            }
           
        }
        &:last-of-type .list-Price{
            h3 {
                background-color: #f76969;
            }
            .choose-btn {
                background-color: #f76969;
            }
            
        }

    }
    choose-btn {
        margin-bottom: 20px;
    }
}
/*End Prices Lists*/
/*Start Partners*/
.Partners {
    padding: 50px 0;
    /*background-color: #edefed;*/
    
    .carousel-item {
        .logo {
            background-color: #fff;
            width: 100%;
            height: 120px;
            margin-bottom: 30px;
            padding-top: 10px;
            transition: all .7s ease-in-out;
            img {
                filter: grayscale(1);
                opacity: .5;
                transition: all .7s ease-in-out;
            }
            &:hover {
                
                box-shadow: 0 10px 35px 5px rgba(0,0,0,.2);
                img {
                    filter: none;
                    opacity: 1;
                }
            }
        }
    }
    .carousel-indicators {
        bottom: -30px;
       
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $mainColor;
        }
    }
    @media (max-width: 576px) { 
        .carousel-item {
            text-align: center;
            margin: auto;
            .logo {
                width: 95%;
                height: 120px;

            }
        }
    }
}
/*End Partners*/
/*Start team*/
.team {
    padding: 50px 0;
    /*background: url(../images/bgTeam.png) no-repeat center center;
    background-size: cover;*/
    
    
    .carousel-item {
        .team-item {
            /*overflow: hidden;*/
            filter: grayscale(1);
            transition: all .5s ease-in-out;
            img {
                width: 100%;
                height: 290px;
                border-radius: 20px;
                margin-top: 15px;
                position: relative;
                border-bottom: 7px solid transparent;
                transition: all .5s ease-in-out;
                /*overflow: hidden;*/
            }
            h3 {
                margin-top: 10px;
                color: #3b434c;
            }
            h3~p {
                color: #3b434c;
                line-height: 1.8;
                padding: 10px;
            }
            &:hover {
                filter: none;
                filter: grayscale(0);
            }
            &:hover img {
                transform: scale(1.01);
                border-radius: 20px;
                border-bottom: 7px solid #f7600e;
            }
            
        }
    }
    .carousel-indicators {
        bottom: -30px;
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $mainColor;
        }
    }
    @media (max-width: 992px) {
        team-item {
            text-align: center;
            img {
                width: 90% !important;
                height: auto;
                
            }
        }
      
    }
    
    @media (max-width: 768px) {
        team-item {
            text-align: center;
            img {
                width: 90%;
                height: auto;
                
            }
        }
    }
    @media (max-width: 576px) { 
        .team-item {
            text-align: center;
            img {
                width: 75% !important;
                height: auto !important;
                
            }
        }
    }
    
    
}
/*End Partners*/
/*Start Contact-home*/
.Contact-home {
    padding: 50px 0;
    /*background-color: #edefed;*/
    background: url(../images/map.png)no-repeat center center;
    background-size: cover;
    h2 ~ p::after {
        background-color: #fff;
    }
    .row {
        justify-content: center;
    }
    .Contact-call {
        background-color: #fff;
        padding: 40px ;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
        h4 {
            color: $secondColor;
            text-transform: 500;
            a {
                color: $secondColor;
                text-transform: 500;
                text-decoration: none;
            }
           
        }
        p {
            color: #999999;
            margin-bottom: 20px;
            padding: 0;
            font-size: 14px;
            margin-left: 10px;
            i {
                padding-right: 10px;
                padding-bottom: 10px;
            }
        }
    }
    form {
        background-color: #fff;
        padding: 30px ;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
        input,textarea {
            border: none;
            border-bottom: 1px solid #999;
            border-radius: 0;
            &:focus {
                border: none;
                box-shadow: none;
                border-bottom: 1px solid $secondColor;
            }
        }
        .choose-btn {
            margin: 0;
            margin-top: 40px;
            background-color: $secondColor;
            &:hover {
                background-color:transparent;
                color: $secondColor;
                border-color: $secondColor;
            }
        }
        
    }
}
/*End Contact-home*/
/*Start Copy-right*/
.transform {
    position: relative;
    .rotate {
        background-color: $mainColor;
        width: 100%;
        height: 20px;
        transform: rotate(.5deg);
        position: absolute;
        bottom: -10px;
        z-index: -1;
    }
}

footer {
    background-color: $secondColor;
    padding: 10px 0;
    color: #fff;
    z-index: 2;
    p {
        margin: 0;
    }
}
/*End Copy-right*/



