.slider-img-Joinus {
        background: url(../images/join_us_header_big.jpg) no-repeat center center ;
        background-size: cover;
        height: 500px;
        width: 100%;
}
.choose-btn {
    margin-top: 20px;
    background-color: $secondColor;
}