body {

    font-family: 'moon','Cairo', sans-serif;
    font-size: 16px;
    overflow: hidden;
    @media (max-width: 992px) {
      
    }
    
    @media (max-width: 768px) {

    }
    @media (max-width: 576px) { 
        width: 100%;
    }
}

