.slider-img {
    background: url(../images/OUR+SERVICES.png) no-repeat center center ;
    background-size: cover;
    height: 342px;
    width: 100%;
}
/*Start Design*/
.Design {
    padding: 80px 0;
    h2 {
        color: $secondColor;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 500;
        span {
            color: $mainColor;
        }
    }
    p {
        width: 80%;
        margin-bottom: 30px;
    }
    .choose-btn {
        background-color: #f7a631;
        display: block;
        width: 150px;
        text-align: center;
        margin-bottom: 50px;
         
    }
    .image {
        
        img {
            width: 100%;
        }
    }
}
/*End Design*/
/*Start Footer*/
.Footer {
    padding: 20px 0;

    background: url(../images/map.png)no-repeat center center $secondColor;
    background-size: cover;
    position: relative;
    margin-bottom: 16px;
    color: #fff;
    .Contact-call {
        margin-bottom: 20px;
        /*padding: 40px ;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);*/
        h4 {
            color: $mainColor;
            text-transform: 500; 
             a {
                color: $mainColor;
                text-transform: 500;
                text-decoration: none;
            }
        }
        p {
            color: #fff;
            margin-bottom: 5px;
            padding: 0;
            font-size: 14px;
            margin-left: 10px;
            i {
                padding-right: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .title {
        position: relative;
        background-color: #fff;
        color: #333;
        height: 200px;
        width: 100%;
        border-radius: 10px;
        border: 5px solid #666;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 20px;
        p {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            span {
                display: block;
                bottom: -55px;
                left: 30px;
                position: absolute;
                font-size: 40px;
                color: #666;
            }
        }
    }
    ul {
        margin-top: 10px;
        li {
            font-size: 22px;
            line-height: 2.5rem;
            text-transform: uppercase;
            cursor: pointer;
            a {
                text-decoration: none;
                color: #fff;
                &:hover {
                    color: rgba($mainColor,0.5)
                }
            }
        }
    }
    .Services {
        line-height: 2.2rem;
        margin-top: 20px;
        h4 {
            color: $mainColor;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 10px;
            margin-top: 0;
        }
        a {
            display: block;
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            &:hover {
                color: rgba($mainColor,0.5)
            }
        }
    }
    
}
/*End Footer*/