.slider-img-works {
    background: url(../images/ourWorks.jpg) no-repeat center center ;
    background-size: cover;
    height: 500px;
    width: 100%;
}
/* Start Our-works*/
.our-works {
    padding: 50px 0;
    .card {
        margin-bottom: 30px;
        .image {
            height: 200px;
            overflow: hidden;
            background-color: #eee;
            transition: all 2.5s ease-in-out;
            img {
                width: 100%;
                transition: all 2.5s ease-in-out;
            }
            &:hover {
                img {
                    margin-top: -300px;
                }
            }
        }
    }
}
/* End Our-works*/