/*
 **Var Small Width For Mobile Website 
*/
$maxWidthSmall: "(max-width: 767px)";
/*
 **Var Small Width For Mobile Website 
*/
$smallWidth: "(min-width: 768px)";
/*
 **Var Medium Width For Medium Website 
*/
$mediumWidth: "(min-width: 992px)";
/*
 **Var Large Width For Large Website 
*/
$largeWidth: "(min-width: 1200px)";

/*
 **Var Color Master Website Red
*/
$mainColor: #f7a733;
/*
 **Var Color Master Website Gray
*/
$secondColor:#003e3d;

