//*** Start Custom Scrollbar
//width
::-webkit-scrollbar {
    width: 7px;
}
//Track
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
//Handle
::-webkit-scrollbar-thumb {
    background: $mainColor; 
}
//Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: $mainColor; 
}
//*** End Custom Scrollbar

/*Start Loader*/
.loader {
    background-color: #003e3d;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    .image {
        position: absolute;
        top: 15%;
        left: 45%;
        transform: translate(-45%,15%);
        text-align: center;
        .svg {
            height: 40vh;
        }
        .logo {
            height: 10vh;
            display: block;
        }
    }
    .design {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #fff;
        text-decoration: none;
    }
}

/*End Loader*/
