.choose-btn {
    text-decoration: none;
    border: 2px solid transparent;
    color: #fff;
    background-color: #a6a6a6;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    transition: all .7s ease-in-out;
}
.choose-btn:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: none;
}




