.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: transparent;
   .navbar-nav {
        top: -100px;
        .nav-item {
            padding: 10px 20px;
            .nav-link {
                color: #fff;
                font-size: 18px;
                position: relative;
                transition: .5s;
                padding: 0;
                &::before {
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: transparent;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    border-radius: 2px;
                    transition: .5s;
                }
                &:hover {
                    color: $mainColor;
                }
                &:hover::before {
                    background-color: $mainColor;
                    width: 50%;
                    
                }
            }
        }
        .nav-item.active {
            .nav-link {
                color: $mainColor;
                position: relative;
                font-weight: bold;
                &::before {
                    content: "";
                    width: 50%;
                    height: 2px;
                    background-color: $mainColor;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    border-radius: 2px;
                }
            }
        }
       .dropdown-menu {
           top: 85%;
           background-color: rgba(13, 95, 95, 0.9);
           z-index: 9999;
           .dropdown-item {
               color: #fff;
               border-bottom: 1px solid #062929;
               padding: .5rem 1.5rem;
               width: 220px;
               transition: all .7s ease-in-out;
               &:hover {
                   background-color: rgba($mainColor, 0.9);
                   color: #fff;
                   padding-left: 15px;
               }
               &:last-of-type {
                   border: none;
               }
           }
           
       }
    }
    @media (max-width: 992px) { 
        .navbar-toggler:not(:disabled):not(.disabled) {
            background-color: rgba(#fff,0.5);
            .navbar-toggler-icon {
                position: relative;
                &::after {
                    content: "\f0c9";
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 30px;
                    left: 2px;
                }
            }
        }
        .navbar-collapse {
            z-index: 999;
            background-color: rgba(#fff,0.8);
            .navbar-nav{
                .nav-item {
                    .nav-link {
                       color: #000; 
                    }
                }
            } 
           .dropdown-menu {
                width: 223px;
            }  
        }
    }
    
    
}




/*Start Heading Any Sction*/
.text-header {
    color: $secondColor;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
    span {
        color: $mainColor;
    }
}
.text-header~p {
    color: #999; 
    margin-bottom: 60px;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    &::before {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 40%;
        width: 200px;
        height: 1px;
        background-color: #999;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -44px;
        left: 48%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $mainColor;
        border: 10px solid #edefed;
    }
    @media (max-width: 992px) {
       
        &::before {
            left: 36%;
        }
      
    }
    
    @media (max-width: 768px) {
        &::before {
            left: 30%;
        }
    }
    @media (max-width: 576px) { 
        &::before {
            left: 28%;
        }
    }
}
/*End Heading Any Sction*/