// import Var File
@import"sass/helpers/variables";

body {
    direction: rtl;
    font-size: 14px;
}
/*Start social*/
.social-nav {
    left: auto;
    right: -25px;
}
/*End social*/
.navbar {
   .navbar-nav {
        .nav-item {
            .nav-link {
                &::before {
                    right: 0;
                }     
            }
        }
        .nav-item.active {
            .nav-link {
                &::before {
                    right: 0;
                }
            }
        }
    }
   .dropdown-menu {
       .dropdown-item {
           &:hover {
               padding-right: 15px;
           }
       }
   }
}
/*Start Slider*/
.carousel-inner {
    text-align: right;
    .content {
        direction: rtl;
        text-align: right;
        border-right: 2px solid $mainColor;
        border-left: 0 !important;
        padding-right: 20px;
        margin-right: 40px;
        h1 {text-align: right;}
        p {text-align: right;}
        a {
            margin-left: 260px; 
        } 
    }
     @media (max-width: 768px) {

    }
    @media (max-width: 576px) { 
        h1 {font-size: 22px!important;}
        p {font-size: 12px!important;}
        a {
            margin-left: 0; 
            margin-right: 0 !important;
        } 
    }
    
}
/*End Slider*/
/*Start About-home*/
.about-home {
    img {
        width: 100%;
        position: relative;
        top: -100px;
        transform: rotateY(180deg);
    }
}
/*End About-home*/
/*Start Services*/
.services {
    .card-body {
        .face {
            h4 {
                font-size: 20px!important;
            }
        }
        
       .flip-Card {
            .back {
                p {
                    color: #333;
                    line-height: 2rem;
                    font-size: 14px;
                }
            }
        } 
    }

}
/*End Services*/
/*Start Works*/
.works {
    ul {
        li {
            i {padding-left: 10px;}
            
        }
    }
   
}
/*End Works*/
/*Start Studies*/
.Studies {
    .card {
        .card-body {
            h5 {
                padding-right: 1.25rem; 
                padding-left: 0; 
            }
            .card-text {
                padding-right: 1.35rem; 
                padding-left: 0; 
                font-size: 14px;
            }
        }
    }
}
/*End Studies*/



/*Start Contact-home*/
.Contact-home {
    p {
        margin-left: auto;
        margin-right: 10px;
        i {
            padding-right: auto;
            padding-left: 10px;
        }
    }

}
/*End Contact-home*/


/*Start Footer*/
.Footer {
    .Contact-call {
        p {
            margin-right: 10px;
            margin-left: auto;
            i {
                padding-left: 10px;
                padding-right: auto;
            }
        }
    }
    .title {
        p {
            span {
                left: auto;
                right: 30px;
            }
        }
    }

    

}
/*End Footer*/









/*Start Heading Any Sction*/
.text-header {
    color: $secondColor;
 
}
.text-header~p {
    color: #444; 
    font-size: 16px;

}
/*End Heading Any Sction*/